<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nick's Blog</title>
</head>
<body>
    <ul>
        <li><a href="/about">About</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="/">Home</a></li>
    </ul>
    <h1>It's 1999 and I'm optimistic about the future!</h1>
    <%- include('../partials/header.ejs') %>
    <%- body %>
</body>
</html>